<app-header-component [title]="currentValue"></app-header-component>

  <!-- Team Start -->
  <div class="container-xxl py-5">
    <div class="container py-5">
        <div class="text-center animate__animated animate__fadeInUp" data-aos="fade-down" data-aos-duration="1500">
            <h6 class="text-secondary text-uppercase">Our Team</h6>
            <h1 class="mb-5">Expert Team Members</h1>
        </div>
        <div class="row g-4">
            <div class="col-lg-3 col-md-6 animate__animated animate__fadeInUp" data-aos="fade-down" data-aos-duration="1500">
                <div class="team-item p-4">
                    <div class="overflow-hidden mb-4">
                        <img class="img-fluid" src="assets/img/team-1.jpg" alt="">
                    </div>
                    <h5 class="mb-0">Alfonso Dozal</h5>
                    <p>CEO</p>
                    <div class="btn-slide mt-1">
                        <i class="bi bi-share-fill"></i>
                        <span>
                            <a href=""><i class="bi bi-facebook"></i></a>
                            <a href=""><i class="bi bi-twitter"></i></a>
                            <a href=""><i class="bi bi-whatsapp"></i></a>
                        </span>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6" data-aos="fade-up" data-aos-duration="1500">
                <div class="team-item p-4">
                    <div class="overflow-hidden mb-4">
                        <img class="img-fluid" src="assets/img/team-2.jpg" alt="">
                    </div>
                    <h5 class="mb-0">Alejandra del Campo</h5>
                    <p>Designation</p>
                    <div class="btn-slide mt-1">
                        <i class="bi bi-share-fill"></i>
                        <span>
                            <a href=""><i class="bi bi-facebook"></i></a>
                            <a href=""><i class="bi bi-twitter"></i></a>
                            <a href=""><i class="bi bi-whatsapp"></i></a>
                        </span>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6" data-aos="fade-up" data-aos-duration="1500">
                <div class="team-item p-4">
                    <div class="overflow-hidden mb-4">
                        <img class="img-fluid" src="assets/img/team-3.jpg" alt="">
                    </div>
                    <h5 class="mb-0">Javier Mendoza</h5>
                    <p>Designation</p>
                    <div class="btn-slide mt-1">
                        <i class="bi bi-share-fill"></i>
                        <span>
                            <a href=""><i class="bi bi-facebook"></i></a>
                            <a href=""><i class="bi bi-twitter"></i></a>
                            <a href=""><i class="bi bi-whatsapp"></i></a>
                        </span>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6" data-aos="fade-up" data-aos-duration="1500">
                <div class="team-item p-4">
                    <div class="overflow-hidden mb-4">
                        <img class="img-fluid" src="assets/img/team-4.jpg" alt="">
                    </div>
                    <h5 class="mb-0">Mariam Rangel</h5>
                    <p>Designation</p>
                    <div class="btn-slide mt-1">
                        <i class="bi bi-share-fill"></i>
                        <span>
                            <a href=""><i class="bi bi-facebook"></i></a>
                            <a href=""><i class="bi bi-twitter"></i></a>
                            <a href=""><i class="bi bi-whatsapp"></i></a>
                        </span>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6" data-aos="fade-up" data-aos-duration="1500">
                <div class="team-item p-4">
                    <div class="overflow-hidden mb-4">
                        <img class="img-fluid" src="assets/img/team-2.jpg" alt="">
                    </div>
                    <h5 class="mb-0">Lineker Escobar</h5>
                    <p>Designation</p>
                    <div class="btn-slide mt-1">
                        <i class="bi bi-share-fill"></i>
                        <span>
                            <a href=""><i class="bi bi-facebook"></i></a>
                            <a href=""><i class="bi bi-twitter"></i></a>
                            <a href=""><i class="bi bi-whatsapp"></i></a>
                        </span>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6" data-aos="fade-up" data-aos-duration="1500">
                <div class="team-item p-4">
                    <div class="overflow-hidden mb-4">
                        <img class="img-fluid" src="assets/img/team-3.jpg" alt="">
                    </div>
                    <h5 class="mb-0">Karen Grajeda</h5>
                    <p>Designation</p>
                    <div class="btn-slide mt-1">
                        <i class="bi bi-share-fill"></i>
                        <span>
                            <a href=""><i class="bi bi-facebook"></i></a>
                            <a href=""><i class="bi bi-twitter"></i></a>
                            <a href=""><i class="bi bi-whatsapp"></i></a>
                        </span>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6" data-aos="fade-up" data-aos-duration="1500">
                <div class="team-item p-4">
                    <div class="overflow-hidden mb-4">
                        <img class="img-fluid" src="assets/img/team-4.jpg" alt="">
                    </div>
                    <h5 class="mb-0">Penny</h5>
                    <p>Designation</p>
                    <div class="btn-slide mt-1">
                        <i class="bi bi-share-fill"></i>
                        <span>
                            <a href=""><i class="bi bi-facebook"></i></a>
                            <a href=""><i class="bi bi-twitter"></i></a>
                            <a href=""><i class="bi bi-whatsapp"></i></a>
                        </span>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6" data-aos="fade-up" data-aos-duration="1500">
                <div class="team-item p-4">
                    <div class="overflow-hidden mb-4">
                        <img class="img-fluid" src="assets/img/team-1.jpg" alt="">
                    </div>
                    <h5 class="mb-0">Chila</h5>
                    <p>Designation</p>
                    <div class="btn-slide mt-1">
                        <i class="bi bi-share-fill"></i>
                        <span>
                            <a href=""><i class="bi bi-facebook"></i></a>
                            <a href=""><i class="bi bi-twitter"></i></a>
                            <a href=""><i class="bi bi-whatsapp"></i></a>
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Team End -->
