        <!-- Page Header Start -->
        <div class="container-fluid py-5 page-header py-5" style="margin-bottom: 6rem;">
          <div class="container py-5">
              <h1 class="display-3 text-white mb-3 animated slideInDown">Services</h1>
              <nav aria-label="breadcrumb animated slideInDown">
                  <ol class="breadcrumb">
                      <li class="breadcrumb-item"><a class="text-white" href="#">Homee</a></li>
                      <li class="breadcrumb-item"><a class="text-white" href="#">Pagges</a></li>
                      <li class="breadcrumb-item text-white active" aria-current="page">Services</li>
                  </ol>
              </nav>
          </div>
      </div>
      <!-- Page Header End -->

    <!-- Service Start -->
    <div class="container-xxl py-5">
      <div class="container py-5">
          <div class="text-center" data-aos="fade-down" data-aos-duration="1500">
              <h6 class="text-secondary text-uppercase">Our Services</h6>
              <h1 class="mb-5">Explore Our Services</h1>
          </div>
          <div class="row g-4">
              <div class="col-md-6 col-lg-4" data-aos="fade-down" data-aos-duration="1500">
                  <div class="service-item p-4">
                      <div class="overflow-hidden mb-4">
                          <img class="img-fluid" src="assets/img/service-1.jpg" alt="">
                      </div>
                      <h4 class="mb-3">Air Freight</h4>
                      <p>Stet stet justo dolor sed duo. Ut clita sea sit ipsum diam lorem diam.</p>
                      <a class="btn-slide mt-2" routerLink="services" routerLinkActive="active"><i class="bi bi-arrow-right-circle-fill"></i><span>Read More</span></a>
                  </div>
              </div>
              <div class="col-md-6 col-lg-4" data-aos="fade-down" data-aos-duration="1500">
                  <div class="service-item p-4">
                      <div class="overflow-hidden mb-4">
                          <img class="img-fluid" src="assets/img/service-2.jpg" alt="">
                      </div>
                      <h4 class="mb-3">Ocean Freight</h4>
                      <p>Stet stet justo dolor sed duo. Ut clita sea sit ipsum diam lorem diam.</p>
                      <a class="btn-slide mt-2" href=""><i class="bi bi-arrow-right-circle-fill"></i><span>Read More</span></a>
                  </div>
              </div>
              <div class="col-md-6 col-lg-4" data-aos="fade-down" data-aos-duration="1500">
                  <div class="service-item p-4">
                      <div class="overflow-hidden mb-4">
                          <img class="img-fluid" src="assets/img/service-3.jpg" alt="">
                      </div>
                      <h4 class="mb-3">Road Freight</h4>
                      <p>Stet stet justo dolor sed duo. Ut clita sea sit ipsum diam lorem diam.</p>
                      <a class="btn-slide mt-2" href=""><i class="bi bi-arrow-right-circle-fill"></i><span>Read More</span></a>
                  </div>
              </div>
              <div class="col-md-6 col-lg-4" data-aos="fade-down" data-aos-duration="1500">
                  <div class="service-item p-4">
                      <div class="overflow-hidden mb-4">
                          <img class="img-fluid" src="assets/img/service-4.jpg" alt="">
                      </div>
                      <h4 class="mb-3">Train Freight</h4>
                      <p>Stet stet justo dolor sed duo. Ut clita sea sit ipsum diam lorem diam.</p>
                      <a class="btn-slide mt-2" href=""><i class="bi bi-arrow-right-circle-fill"></i><span>Read More</span></a>
                  </div>
              </div>
              <div class="col-md-6 col-lg-4" data-aos="fade-down" data-aos-duration="1500">
                  <div class="service-item p-4">
                      <div class="overflow-hidden mb-4">
                          <img class="img-fluid" src="assets/img/service-5.jpg" alt="">
                      </div>
                      <h4 class="mb-3">Customs Clearance</h4>
                      <p>Stet stet justo dolor sed duo. Ut clita sea sit ipsum diam lorem diam.</p>
                      <a class="btn-slide mt-2" href=""><i class="bi bi-arrow-right-circle-fill"></i><span>Read More</span></a>
                  </div>
              </div>
              <div class="col-md-6 col-lg-4" data-aos="fade-down" data-aos-duration="1500">
                  <div class="service-item p-4">
                      <div class="overflow-hidden mb-4">
                          <img class="img-fluid" src="assets/img/service-6.jpg" alt="">
                      </div>
                      <h4 class="mb-3">Warehouse Solutions</h4>
                      <p>Stet stet justo dolor sed duo. Ut clita sea sit ipsum diam lorem diam.</p>
                      <a class="btn-slide mt-2" href=""><i class="bi bi-arrow-right-circle-fill"></i><span>Read More</span></a>
                  </div>
              </div>
          </div>
      </div>
  </div>
  <!-- Service End -->
