<!--Header-->
<app-header-component [title]="currentValue"></app-header-component>
<!--Header-->

  <!-- Service Start -->
  <div class="container-xxl py-5">
    <div class="container py-5">
        <div class="text-center" data-aos="fade-down" data-aos-duration="1500">
            <h6 class="text-uppercase fw-semibold text-info">Our Services</h6>
            <h1 class="fw-bolder mb-5">Explore Our Services</h1>
        </div>
        <div class="row g-4">
            <div class="col-md-6 col-lg-4" data-aos="fade-down" data-aos-duration="1500">
                <div class="service-item p-4">
                    <div class="overflow-hidden mb-4">
                        <img class="img-fluid" src="assets/img/service-1.jpg" alt="">
                    </div>
                    <h4 class="mb-3">Air Freight</h4>
                    <p>Stet stet justo dolor sed duo. Ut clita sea sit ipsum diam lorem diam.</p>
                    <a class="btn-slide mt-1" routerLink="services" routerLinkActive="active"><i class="bi bi-arrow-right-circle-fill"></i><span>Read More</span></a>
                </div>
            </div>
            <div class="col-md-6 col-lg-4" data-aos="fade-down" data-aos-duration="1500">
                <div class="service-item p-4">
                    <div class="overflow-hidden mb-4">
                        <img class="img-fluid" src="assets/img/service-2.jpg" alt="">
                    </div>
                    <h4 class="mb-3">Ocean Freight</h4>
                    <p>Stet stet justo dolor sed duo. Ut clita sea sit ipsum diam lorem diam.</p>
                    <a class="btn-slide mt-1" href=""><i class="bi bi-arrow-right-circle-fill"></i><span>Read More</span></a>
                </div>
            </div>
            <div class="col-md-6 col-lg-4" data-aos="fade-down" data-aos-duration="1500">
                <div class="service-item p-4">
                    <div class="overflow-hidden mb-4">
                        <img class="img-fluid" src="assets/img/service-3.jpg" alt="">
                    </div>
                    <h4 class="mb-3">Road Freight</h4>
                    <p>Stet stet justo dolor sed duo. Ut clita sea sit ipsum diam lorem diam.</p>
                    <a class="btn-slide mt-1" href=""><i class="bi bi-arrow-right-circle-fill"></i><span>Read More</span></a>
                </div>
            </div>
            <div class="col-md-6 col-lg-4" data-aos="fade-down" data-aos-duration="1500">
                <div class="service-item p-4">
                    <div class="overflow-hidden mb-4">
                        <img class="img-fluid" src="assets/img/service-4.jpg" alt="">
                    </div>
                    <h4 class="mb-3">Train Freight</h4>
                    <p>Stet stet justo dolor sed duo. Ut clita sea sit ipsum diam lorem diam.</p>
                    <a class="btn-slide mt-1" href=""><i class="bi bi-arrow-right-circle-fill"></i><span>Read More</span></a>
                </div>
            </div>
            <div class="col-md-6 col-lg-4" data-aos="fade-down" data-aos-duration="1500">
                <div class="service-item p-4">
                    <div class="overflow-hidden mb-4">
                        <img class="img-fluid" src="assets/img/service-5.jpg" alt="">
                    </div>
                    <h4 class="mb-3">Customs Clearance</h4>
                    <p>Stet stet justo dolor sed duo. Ut clita sea sit ipsum diam lorem diam.</p>
                    <a class="btn-slide mt-1" href=""><i class="bi bi-arrow-right-circle-fill"></i><span>Read More</span></a>
                </div>
            </div>
            <div class="col-md-6 col-lg-4" data-aos="fade-down" data-aos-duration="1500">
                <div class="service-item p-4">
                    <div class="overflow-hidden mb-4">
                        <img class="img-fluid" src="assets/img/service-6.jpg" alt="">
                    </div>
                    <h4 class="mb-3">Warehouse Solutions</h4>
                    <p>Stet stet justo dolor sed duo. Ut clita sea sit ipsum diam lorem diam.</p>
                    <a class="btn-slide mt-1" href=""><i class="bi bi-arrow-right-circle-fill"></i><span>Read More</span></a>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Service End -->
