<!-- Navbar Start -->
<nav class="navbar navbar-expand-lg bg-white navbar-light shadow border-top border-5 border-danger sticky-top p-0">
  <a href="" class="navbar-brand bg-danger d-flex align-items-center px-4 px-lg-5">
      <h2 class="mb-2 text-white">Logistica</h2>
  </a>
  <button type="button" class="navbar-toggler me-4" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
      <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarCollapse">
      <div class="navbar-nav ms-auto p-4 p-lg-0">
          <a href="" class="nav-item nav-link active">Home</a>
          <a  href="#about" class="nav-item nav-link">About</a>
          <a  routerLink="services" routerLinkActive="active" class="nav-item nav-link">Services</a>
          <div class="nav-item dropdown">
              <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown">Pages</a>
              <div class="dropdown-menu fade-up m-0">
                  <a href="" class="dropdown-item">Pricing Plan</a>
                  <a routerLink="feature" routerLinkActive="active" class="dropdown-item">Features</a>
                  <a routerLink="quote" routerLinkActive="active" class="dropdown-item">Free Quote</a>
                  <a routerLink="team" routerLinkActive="active" class="dropdown-item">Our Team</a>
                  <a href="" class="dropdown-item">Testimonial</a>
              </div>
          </div>
          <a href="" class="nav-item nav-link">Contact</a>
      </div>
      <h4 class="m-0 pe-lg-5 d-none d-lg-block"><i class="bi bi-headset text-danger me-1 fw-bolder"></i>
      +867 123 4567</h4>
  </div>
</nav>
<!--Navbar End-->

<!-- About Component Start-->
<router-outlet></router-outlet>
<!--About Componenet End-->

<!-- Footer Start -->
<div id= "footer" class="container-fluid bg-dark text-light footer pt-5" style="margin-top: 6rem;">
  <div class="container py-5">
      <div class="row g-5">
          <div class="col-lg-3 col-md-6">
              <h4 class="text-light mb-4">Address</h4>
              <p class="mb-2"><i class="bi bi-geo-alt-fill me-3"></i>123 Street, Laredo, TX</p>
              <p class="mb-2"><i class="bi bi-telephone-fill me-3"></i>+867 123 4567</p>
              <p class="mb-2"><i class="fa bi bi-envelope me-3"></i>infoexample.com</p>
              <div class="d-flex pt-2">
                  <a class="btn btn-outline-light btn-social" href=""><i class="bi bi-twitter"></i></a>
                  <a class="btn btn-outline-light btn-social" href=""><i class="bi bi-facebook"></i></a>
                  <a class="btn btn-outline-light btn-social" href=""><i class="bi bi-youtube"></i></a>
                  <a class="btn btn-outline-light btn-social" href=""><i class="bi bi-linkedin"></i></a>
              </div>
          </div>
          <div class="col-lg-3 col-md-6">
              <h4 class="text-light mb-4">Services</h4>
              <a class="btn btn-link" href=""><i class="bi bi-caret-right-fill me-1"></i> Air Freight</a>
              <a class="btn btn-link" href=""><i class="bi bi-caret-right-fill me-1"></i>Sea Freight</a>
              <a class="btn btn-link" href=""><i class="bi bi-caret-right-fill me-1"></i>Road Freight</a>
              <a class="btn btn-link" href=""><i class="bi bi-caret-right-fill me-1"></i>Logistic Solutions</a>
              <a class="btn btn-link" href=""><i class="bi bi-caret-right-fill me-1"></i>Industry solutions</a>
          </div>
          <div class="col-lg-3 col-md-6">
              <h4 class="text-light mb-4">Quick Links</h4>
              <a class="btn btn-link" href=""><i class="bi bi-caret-right-fill me-1"></i>About Us</a>
              <a class="btn btn-link" href=""><i class="bi bi-caret-right-fill me-1"></i>Contact Us</a>
              <a class="btn btn-link" href=""><i class="bi bi-caret-right-fill me-1"></i>Our Services</a>
              <a class="btn btn-link" href=""><i class="bi bi-caret-right-fill me-1"></i>Terms & Condition</a>
              <a class="btn btn-link" href=""><i class="bi bi-caret-right-fill me-1"></i>Support</a>
          </div>
          <div class="col-lg-3 col-md-6">
              <h4 class="text-light mb-4">Newsletter</h4>
              <p>Let us send you a message!</p>
              <div class="position-relative mx-auto" style="max-width: 400px;">
                  <input class="form-control border-0 w-100 py-3 ps-4 pe-5" type="text" placeholder="Your email">
                  <button type="button" class="btn btn-primary py-2 position-absolute top-0 end-0 mt-2 me-2">SignUp</button>
              </div>
          </div>
      </div>
  </div>
  <div class="container">
      <div class="copyright">
          <div class="row">
              <div class="col-md-6 text-center text-md-start mb-3 mb-md-0">
                <!--Javier Mendoza -->
              </div>
              <div class="col-md-6 text-center text-md-end">
                <!-- Creditos -->
              </div>
          </div>
      </div>
  </div>
</div>
<!-- Footer End -->
