<!--Header-->
<app-header-component [title]="currentValue"></app-header-component>
<!--Header-->

  <!-- Fact Start -->
  <div class="container-xxl py-5">
    <div class="container py-5">
        <div class="row g-5">
            <div class="col-lg-6 feature-text" data-aos="fade-up" data-aos-duration="1500">
                <h6 class="text-info fw-bold text-uppercase mb-3">Some Facts</h6>
                <h1 class="mb-5">#1 Place To Manage All Of Your Shipments</h1>
                <p class="mb-5">Tempor erat elitr rebum at clita. Diam dolor diam ipsum sit. Aliqu diam amet diam et eos. Clita erat ipsum et lorem et sit, sed stet lorem sit clita duo justo magna dolore erat amet</p>
                <div class="d-flex align-items-center">
                    <i class="bi bi-headset fs-2 flex-shrink-0 bg-danger p-3 text-white"></i>
                    <div class="ps-4">
                        <h6>Call for any query!</h6>
                        <h3 class="text-danger m-0">+012 345 6789</h3>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="row g-4 align-items-center">
                    <div class="col-sm-6">
                        <div class="bg-danger p-4 mb-4 fw-bold" data-aos="zoom-in" data-aos-duration="1500">
                            <i class="bi bi-people-fill fs-2 text-white mb-3"></i>
                            <h2 class="text-white mb-2 fw-bold" data-toggle="counter-up">1234</h2>
                            <p class="text-white mb-0">Happy Clients</p>
                        </div>
                        <div class="bg-info p-4 fw-bold" data-aos="zoom-in" data-aos-duration="1500">
                            <i class="bi bi-airplane-fill fs-2 text-white mb-3"></i>
                            <h2 class="text-white mb-2" data-toggle="counter-up">1234</h2>
                            <p class="text-white mb-0">Complete Shipments</p>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="bg-success p-4 fw-bold" data-aos="zoom-in" data-aos-duration="1500">
                            <i class="bi bi-star-fill fs-2 text-white mb-3"></i>
                            <h2 class="text-white mb-2" data-toggle="counter-up">1234</h2>
                            <p class="text-white mb-0">Customer Reviews</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Fact End -->
