      <!-- Page Header Start -->
      @if (title == "Team") {
      <div class="container-fluid py-5 page-header py-5" style="margin-bottom: 6rem;">
        <div class="container py-5">
            <h1 class="display-3 fw-bolder text-white mb-3 animate__animated animate__slideInDown">Our Team</h1>
            <nav aria-label="breadcrumb animate__animated animate__slideInDown">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a class="text-white fw-medium" href="#">Home</a></li>
                    <li class="breadcrumb-item"><a class="text-white fw-medium" href="#">Pages</a></li>
                    <li class="breadcrumb-item text-white fw-medium active" aria-current="page">{{title}}</li>
                </ol>
            </nav>
        </div>
    </div>
  }
  @if (title == "Services") {
    <div class="container-fluid py-5 page-header py-5" style="margin-bottom: 6rem;">
      <div class="container py-5">
          <h1 class="display-3 fw-bolder text-white mb-3 animate__animated animate__slideInDown">Services</h1>
          <nav aria-label="breadcrumb animate__animated animate__slideInDown">
              <ol class="breadcrumb">
                  <li class="breadcrumb-item"><a class="text-white fw-medium" href="#">Home</a></li>
                  <li class="breadcrumb-item text-white fw-medium active" aria-current="page">{{title}}</li>
              </ol>
          </nav>
      </div>
  </div>
}
@if (title == "Feature") {
  <div class="container-fluid py-5 page-header py-5" style="margin-bottom: 6rem;">
    <div class="container py-5">
        <h1 class="display-3 fw-bolder text-white mb-3 animate__animated animate__slideInDown">Features</h1>
        <nav aria-label="breadcrumb animate__animated animate__slideInDown">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a class="text-white fw-medium" href="#">Home</a></li>
                <li class="breadcrumb-item"><a class="text-white fw-medium" href="#">Pages</a></li>
                <li class="breadcrumb-item text-white fw-medium active" aria-current="page">{{title}}</li>
            </ol>
        </nav>
    </div>
</div>
}
@if (title == "Quote") {
  <div class="container-fluid py-5 page-header py-5" style="margin-bottom: 6rem;">
    <div class="container py-5">
        <h1 class="display-3 fw-bolder text-white mb-3 animate__animated animate__slideInDown">Quote</h1>
        <nav aria-label="breadcrumb animate__animated animate__slideInDown">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a class="text-white fw-medium" href="#">Home</a></li>
                <li class="breadcrumb-item"><a class="text-white fw-medium" href="#">Pages</a></li>
                <li class="breadcrumb-item text-white fw-medium active" aria-current="page">{{title}}</li>
            </ol>
        </nav>
    </div>
</div>
}
    <!-- Page Header End -->
