<!-- Navbar Start -->
<nav class="navbar navbar-expand-lg bg-white navbar-light shadow border-top border-5 border-danger sticky-top p-0">
  <a href="" class="navbar-brand bg-danger d-flex align-items-center px-4 px-lg-5">
      <h2 class="mb-2 text-white">Logistica</h2>
  </a>
  <button type="button" class="navbar-toggler me-4" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
      <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarCollapse">
      <div class="navbar-nav ms-auto p-4 p-lg-0">
          <a href="" class="nav-item nav-link active">Home</a>
          <a href="" class="nav-item nav-link">About</a>
          <a href="" class="nav-item nav-link">Services</a>
          <div class="nav-item dropdown">
              <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown">Pages</a>
              <div class="dropdown-menu fade-up m-0">
                  <a href="" class="dropdown-item">Pricing Plan</a>
                  <a href="" class="dropdown-item">Features</a>
                  <a href="" class="dropdown-item">Free Quote</a>
                  <a href="" class="dropdown-item">Our Team</a>
                  <a href="" class="dropdown-item">Testimonial</a>
              </div>
          </div>
          <a href="" class="nav-item nav-link">Contact</a>
      </div>
      <h4 class="m-0 pe-lg-5 d-none d-lg-block"><i class="fa fa-headphones text-primary me-3"></i>
      867 123 4567</h4>
  </div>
</nav>

<div id="carouselExampleFade" class="carousel slide carousel-fade" data-bs-ride="carousel">
  <div class="carousel-indicators">
    <button type="button" data-bs-target="#carouselExampleFade" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
    <button type="button" data-bs-target="#carouselExampleFade" data-bs-slide-to="1" aria-label="Slide 2"></button>
    <button type="button" data-bs-target="#carouselExampleFade" data-bs-slide-to="2" aria-label="Slide 3"></button>
  </div>
  <div class="carousel-inner">
    <div class="carousel-item active c-item">
      <img src="assets/img/carousel-1.jpg" class="d-block w-100 c-img" alt="slide1">
      <div class="carousel-caption">
        <h5 class="text-white text-uppercase mb-3">Transport & Logistics Solution</h5>
        <h1 class="display-3 text-white animate__animated animate__fadeInDown mb-4">#1 Place For Your <span class="text-danger fw-bold">Logistics</span> Solution</h1>
        <a href="" class="btn btn-primary py-md-3 px-md-5 me-3 animated slideInLeft">Read More</a>
        <a href="" class="btn btn-secondary py-md-3 px-md-5 animated slideInRight">Free Quote</a>
      </div>
    </div>
    <div class="carousel-item c-item">
      <img src="assets/img/carousel-2.jpg" class="d-block w-100 c-img" alt="slide2">
      <div class="carousel-caption">
        <h5 class="text-white text-uppercase mb-3">Transport & Logistics Solution</h5>
        <h1 class="display-3 text-white animate__animated animate__fadeInDown mb-4">#1 Place For Your <span class="text-danger fw-bold">Logistics</span> Solution</h1>
        <a href="" class="btn btn-primary py-md-3 px-md-5 me-3 animated slideInLeft">Read More</a>
        <a href="" class="btn btn-secondary py-md-3 px-md-5 animated slideInRight">Free Quote</a>
      </div>
    </div>
    <div class="carousel-item c-item">
      <img src="assets/img/carousel-3.jpg" class="d-block w-100 c-img" alt="slide3">
      <div class="carousel-caption">
        <h5 class="text-white text-uppercase mb-3">Transport & Logistics Solution</h5>
        <h1 class="display-3 text-white animate__animated animate__fadeInDown mb-4">#1 Place For Your <span class="text-danger">Logistics</span> Solution</h1>
        <a href="" class="btn btn-primary py-md-3 px-md-5 me-3 animated slideInLeft">Read More</a>
        <a href="" class="btn btn-secondary py-md-3 px-md-5 animated slideInRight">Free Quote</a>
      </div>
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>

